@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
body{
 font-family: 'Poppins', sans-serif;   
    
}
.contact{
    margin-right: 20px;
}
.contact-button{
    width: 100%;
    justify-content: end;
}
.navbar{
    font-weight: 500;
    background-color: white;
}
.navbar-nav .nav-link{
    color: black;
    font-weight: 600;
}
.navbar-nav .nav-link:hover{
    color: #206500;
}
#home{
    min-height: 47rem;
    background-color: black;
}
.spacer{
    background-color: black;
    min-height: 0rem;
}
#home h1{
   color: white;
   font-weight: 600;
}
#home h2{
    color: #ffffff;
    opacity: 0.6;
}
#home p{
    color: white;
}
.demo-wrap {
    position: relative;
  }
.demo-warp::before{
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 102%;
  opacity: 0.5;
  background-image: url('/Asset/Background.jpg');
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}
.demo-content {
    position: relative;
    padding-top: 250px;
  }
.pabrik{
    margin-top: 40px;
    width: 60%;
}
.header-button{
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #ffffff;
}
.header-button a{
    padding-left: 20px;
    padding-right: 20px;
    width: 50px;
    font-size: 20px;
    justify-content: center;
    text-decoration: none;
    color: white;
}

#about{
    margin-top: 0px;
    min-height: 0rem;
    font-size: 16px;
    color: white;
    background-color: #002913;
    font-family: 'Poppins', sans-serif;    
}
.sejarah{
    margin-top: 0px;
    color: white;
    font-weight: bold;
    font-size: 40px;
    margin-left: 10px;
    padding-bottom: 0px;
}
#about p{
    padding-top: 0px;
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
    padding-bottom: 10px;
}
#Product{
    margin-top: 0px;
}
#Product h1{
    color: green;
    font-weight: 600;
}
.tentang{
 padding-bottom: 50px;
}
.tentang button{
    margin-left: 10px;
}
.tentang a{
    text-decoration: none;
    color: white;
}
#galery{
    padding-top: 50px;
    background-color: #002913;
    min-height: 50rem;
    color: white;
    padding-bottom: 30px;
}
#galery img:hover{
    opacity: 0.90;
}
.logo{
    margin-right: 15px;
}
.kembali{
    color: black;
}
.navbar-brand{
    font-weight: 600;
    color: #206500;
}
.foot{
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
}
.link h5{
    margin-left: 30px;
}
.link{
    text-align: left;
}
.link a{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.link ul li {
    text-decoration: none;
    display: block;
}
.link a:hover{
    text-decoration: none;
    color: #b0b0b0;
}
#about h2{
    font-weight: 600;
}
.linkhref{
    text-decoration: none;
    color: white;
    font-weight: 600;
}
.footer-content{
    color: white;
}
#contact{
    padding-bottom: 0px;
}
.body{
    margin-top: 30px;
}
.gambar{
    margin-top: 20px;
}
.misi h2{
    font-weight: 600;
}
.sejarah-pt h1{
    font-weight: 600;
}
#sejarah-perushaan{
    margin-top: 30px;
}
@media only screen and (max-width: 600px) {
    /* .spacer{
        margin-top: 100px;
        background-color: #002913;
        min-height: 10rem;
    } */
    #home{
        min-height: 40rem;
        background-color: black;
        margin-top: 0px;
    }
    #about{
        padding-top: 0%;
        min-height: 30rem;
        font-size: 16px;
        color: white;
        background-color: #002913;
        font-family: 'Poppins', sans-serif;    
    }
    .sejarah{
        margin-top: 10px;
        color: white;
        font-weight: bold;
        font-size: 30px;
        margin-left: 0px;
    }
    #about p{
        font-size: 18px;
        font-weight: 400;
        margin-left: 1px;
    }
    .demo-wrap {
        position: relative;
      }
    .demo-warp::before{
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 77%;
      opacity: 0.4;
      background-image: url('/Asset/Background.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
    }
    #home h1{
   color: white;
   font-weight: 600;
}
#home h2{
    color: #ffffff;
    opacity: 0.6;
}
    .demo-content {
        position: relative;
        padding-top: 250px;
      }
    .navbar-brand{
        font-size: 16px;
    }
    #header{
        margin-top: 0px;
    }
  }
  .tentang{
    padding-top: 100px;
    margin-top: 0%;

}
  
  @media only screen and (max-width: 700px) {
    #home{
        min-height: 34rem;
        background-color: black;
    }
    #about{
        margin-top: 0%;
        min-height: 0rem;
        font-size: 16px;
        color: white;
        background-color: #002913;
        font-family: 'Poppins', sans-serif;    
    }
    .sejarah{
        margin-top: 10px;
        color: white;
        font-weight: bold;
        font-size: 30px;
        margin-left: 10px;
    }
    #about p{
        font-size: 18px;
        font-weight: 400;
        margin-left: 10px;
    }
    .demo-wrap {
        position: relative;
      }
    .demo-warp::before{
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 64%;
      opacity: 0.4;
      background-image: url('/Asset/Background.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
    }
    #home h1{
   color: white;
   font-weight: 600;
}
#home h2{
    color: #ffffff;
    opacity: 0.6;
}
    .demo-content {
        position: relative;
        padding-top: 250px;
      }
    .navbar-brand{
        font-size: 16px;
    }
    #header{
        margin-top: 0px;
    }
  }
  @media only screen and (max-width: 900px) {
    #home{
        min-height: 34rem;
        background-color: black;
    }
    #about{
        margin-top: 0%;
        min-height: 0rem;
        font-size: 16px;
        color: white;
        background-color: #002913;
        font-family: 'Poppins', sans-serif;    
    }
    .sejarah{
        margin-top: 10px;
        color: white;
        font-weight: bold;
        font-size: 30px;
        margin-left: 10px;
    }
    #about p{
        font-size: 18px;
        font-weight: 400;
        margin-left: 10px;
    }
    .demo-wrap {
        position: relative;
      }
    .demo-warp::before{
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 64%;
      opacity: 0.4;
      background-image: url('/Asset/Background.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
    }
    #home h1{
   color: white;
   font-weight: 600;
}
#home h2{
    color: #ffffff;
    opacity: 0.6;
}
    .demo-content {
        position: relative;
        padding-top: 250px;
      }
    .navbar-brand{
        font-size: 16px;
    }
    #header{
        margin-top: 0px;
    }
  }
  @media only screen and (max-width: 1000px) {
    #home{
        min-height: 34rem;
        background-color: black;
    }
    #about{
        margin-top: 0%;
        min-height: 0rem;
        font-size: 16px;
        color: white;
        background-color: #002913;
        font-family: 'Poppins', sans-serif;    
    }
    .sejarah{
        margin-top: 10px;
        color: white;
        font-weight: bold;
        font-size: 30px;
        margin-left: 10px;
    }
    #about p{
        font-size: 18px;
        font-weight: 400;
        margin-left: 10px;
    }
    .demo-wrap {
        position: relative;
      }
    .demo-warp::before{
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 64%;
      opacity: 0.4;
      background-image: url('/Asset/Background.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
    }
    #home h1{
   color: white;
   font-weight: 600;
}
#home h2{
    color: #ffffff;
    opacity: 0.6;
}
    .demo-content {
        position: relative;
        padding-top: 250px;
      }
    .navbar-brand{
        font-size: 16px;
    }
    #header{
        margin-top: 0px;
    }
  }
  @media only screen and (max-width: 2000px) {
    #home{
        min-height: 34rem;
        background-color: black;
    }
    #about{
        margin-top: 0%;
        min-height: 0rem;
        font-size: 16px;
        color: white;
        background-color: #002913;
        font-family: 'Poppins', sans-serif;    
    }
    .sejarah{
        margin-top: 10px;
        color: white;
        font-weight: bold;
        font-size: 30px;
        margin-left: 10px;
    }
    #about p{
        font-size: 18px;
        font-weight: 400;
        margin-left: 10px;
    }
    .demo-wrap {
        position: relative;
      }
    .demo-warp::before{
      content: ' ';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 64%;
      opacity: 0.4;
      background-image: url('/Asset/Background.jpg');
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: cover;
    }
    #home h1{
   color: white;
   font-weight: 600;
}
#home h2{
    color: #ffffff;
    opacity: 0.6;
}
    .demo-content {
        position: relative;
        padding-top: 250px;
      }
    .navbar-brand{
        font-size: 16px;
    }
    #header{
        margin-top: 0px;
    }
  }